@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Custom dark variant */
@custom-variant dark (&:where(.dark &));

/* Custom theme variables */
@theme {
  --color-primary:#b8cfdf;
}

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code){
  all: revert;
}

.loader div:nth-child(2){
  animation-delay: 0.1s;
}
.loader div:nth-child(3){
  animation-delay: 0.3s;
  color: rgba(59, 132, 185, 0.811);
}
